/*Page Styles*/

:root{
    --main-blue: #2196F3;
    --main-black: #000000;
    --main-blackish: #212121;
    --main-grey: #757575;
    --main-background: #2F303A;
    --main-white: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-white);
}

a {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    text-decoration: none;
}

header, h1, h2, ul {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*Header Styles*/

.headerdiv {
    display: flex;
}

.mainnav {
    display: flex;
    align-items: center;
}

.logomain {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: var(--main-black);

    display: flex;
}

.logoweb {
    color: var(--main-blue);
}

.menunav {
    margin-left: 93px;
    display: flex;
}

.menunav li + li {
    margin-left: 50px;
}

.contactsnav {
    margin-left: auto;
    display: inline-flex;
}

.contactsnav li + li {
    margin-left: 50px;
}

.mainmenu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--main-blackish);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.maincontacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--main-grey);

    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}

.mainmenu:hover, .mainmenu:focus {
    color: var(--main-blue);
}

.maincontacts:hover, .maincontacts:focus {
    color: var(--main-blue);
}

.smartphones, .emails {
    color: var(--main-grey);
    padding: 0;
    border: none;
}

.smartphones:hover, .smartphones:focus,
.emails:hover, .emails:focus {
    color: var (--main-blue);
}

.current {
    color: var(--main-blue);
}

/*Main Styles*/

.mainpagebox {
    background-color: var(--main-background); 
    text-align: center;
}

.overlay {
    height: 600px;
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background\ hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mainpagetitle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37em;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--main-white);

    margin: 0px auto 30px;
    width: 696px;
}

.mainpagebox button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88em;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    color: var(--main-white);
    background-color: var(--main-blue);

    padding: 10px 32px;
}

h1 {
    display: block;
}

h2,
h3 {
    color: var(--main-blackish);
}

.benefit {
    padding-top: 94px;
    padding-bottom: 94px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 50px;
}

.titlebenefits, .textbenefits {
    margin: 0;
    padding: 0;
}

.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px; 
}

.benefits {
    display: flex;
}

.benefits li + li {
    margin-left: 30px;
}

.antenna, .clock, .diagram, .astronaut {
    content: "";
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #F5F4FA;
}

.titlebenefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom:10px;
    margin-top: 30px;
}

.textbenefits {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7em;
    letter-spacing: 0.03em;

    color: var(--main-grey);
}

img {
    display: block; 
    width: 100%; 
    height: auto; 
}

.work {
    padding-bottom: 94px;
}

.works ul {
    display: flex;
}

.works li + li {
    margin-left: 30px;
}

.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

h2 .ourteamname {
    margin-top: 94px;
    display: inline-block;
    text-align: center;
}

.container .teamsection {
    margin-top: 0;
}

.teamsection ul {
    display: flex;
}

.teamsection li + li {
    margin-left: 30px;
}

.teamsection li {
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.teammember, .teamposition {
    margin: 0;
    padding: 0;
}

.teamdiv {
    padding-top: 30px;
    padding-bottom: 16px;
}

.teammember {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
    text-align: center;
}

.teamposition {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: var(--main-grey);

    text-align: center;
}

.teamicons {
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
}

.teamicons > ul {
    list-style: none;
}

.teamiconlink {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.teamicons li + li {
    margin-left: 10px;
}

/*Clients*/
.clientlist{
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
}

.clientlist ul {
    display:flex;
}

.clientlist li + li {
    margin-left: 30px;
}

.listclients {
    list-style: none;
}

.listclients > li {
    width: 170px;
    height: 92px;
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #afb1b8;
}

.linkclients {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/*Footer Styles*/

footer {
    background-color: var(--main-background);

    padding-top: 60px;
    padding-bottom: 60px;
}

footer .list {
    padding: 0;
    margin: 0;
}

.footerdiv {
    display: flex;
}

.footercolumn1 {
    display: block;
}

.logofooter {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: var(--main-black);

    margin-bottom: 20px;
    display: block; 
}

.logostudio {
    color: var(--main-white);
}

address {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7em;
    letter-spacing: 0.03em;
    text-decoration: none;

    display: block;
}

.postaladdress {
    color: var(--main-white);
    padding: 0;
    margin: 0;
}

.otheraddress {
    color: rgba(255, 255, 255, 0.6);
    padding: 0;
    margin: 0;
}

.otheraddress {
    margin-top: 9px;
}

.postaladdress:hover, .postaladdress:focus {
    color: var(--main-blue);
}

.otheraddress:hover, .otheraddress:focus {
    color: var(--main-blue);
}

.footercolumn2 {
    display: block;
    margin-left: 70px;
}

.footercolumn2 > p {
    color: var(--main-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    line-height: 100%;
    vertical-align: top;
    text-align: left;
    letter-spacing: 3%;
    text-transform: uppercase;
}

.instagramfooter {
    display: inline-block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.1);
}

.instagramfooter:hover, .instagramfooter:focus {
    background-color: var(--main-blue);
}

.twitterfooter {
    display: inline-block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.1);
}

.twitterfooter:hover, .twitterfooter:focus {
    background-color: var(--main-blue);
}

.facebookfooter {
    display: inline-block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.1);
}

.facebookfooter:hover, .facebookfooter:focus {
    background-color: var(--main-blue);
}

.linkedinfooter {
    display: inline-block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
}

.linkedinfooter:hover, .linkedinfooter:focus {
    background-color: var(--main-blue);
}

.linkinstagram {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.linkfacebook {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.linktwitter {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.linklinkedin {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

/*Portfolio Styles*/
.pageportfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.projects li + li {
    margin-left: 8px;
}

.projects button {
    font-family: inherit;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0.03em;
    cursor: pointer;

    color: var(--main-blackish);
    background-color: #F5F4FA;

    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
}

.projectsbutton:hover, .projectsbutton:focus {
    background-color: var(--main-blue);
    color: var(--main-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfoliotitle, .description {
    margin: 0;
    padding: 0;
}

.projectname {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projectlist {
    flex-basis: calc((100% - 60px) / 3);
}

img .projectimg {
    display: block;
}

.portfolioflex {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolioflex > .description {
    margin-left: 0;
}

.portfoliotitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    text-decoration: none;

    color: var(--main-blackish);

    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    text-align: left;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--main-grey);

    margin: 0;
    padding: 0;
}

.projectlist:hover, .projectlist:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}





